.vscode/**
.vscode-test/**
src/**
/node_modules/**
.gitignore
tsconfig.json
scripts/**
cli-overlay/**
vendor/.node-cache/**
**/*.map
**/*.ts
!out/**/*.js
!LICENSE
!NOTICE.md
!README.md
!PUBLISHING.md
!package.json
